{% extends "base.html.twig" %}
{% block content %}
    <div class="section_1 mt-5">
        <h1 class="yummy_title recipe_name">{{ recipe.title }}</h1>
        <span><a data-toggle="tooltip" title="Ajoutez au carnet !" href="#"><img src="../../../public/img/fav.png" class="img-fluid ml-1 pb-3" width="25"></a></span>
        <p>{{ recipe.description }}</p>
        <div>
            <div class="mb-3 text-center">
                <span data-toggle="tooltip" title="Difficulté ">
                            <img src="../../../public/img/cooking_hat.png" alt="" class="img-fluid" width="28" >
                            <span class="mr-3">{{ recipe.difficulty_label }}</span>
                </span>
                <span data-toggle="tooltip" title="Temps de préparation">
                            <img src="../../../public/img/clock.png" alt="" class="img-fluid" width="25" >
                            <span class="mr-3">{{ recipe.prep_time }} min</span>
                </span>
                <span data-toggle="tooltip" title="Cuisson">
                            <img src="../../../public/img/fried.png" alt="" class="img-fluid" width="32" >
                            <span class="mr-3">{{ recipe.cooking_time }} min</span>
                </span>
                <span data-toggle="tooltip" title="Note">
                            <img src="../../../public/img/star.png" alt="" class="img-fluid" width="25" >
                            <span >3/5</span>
                </span>
            </div>
        </div>
        <img src="../../../public/img/{{ recipe.image }}" alt="" class="img-fluid img-recipe" width="750" height="300">
        <p class="text-center mt-4">Découvrez les autres recettes : <a href="#" class="category_link">{{ recipe.category_name }}</a></p>
    </div>
{% endblock %}
{% block aside %}
    <section class="col-md-3 mt-5 ml-4 pl-4 pr-4 section_2">
        <div class="text-center mb-4">
            <img src="../../../public/img/glove.png" alt="" width="55" class="text-center">
        </div>

        <div class="section-3">
            <div id="up" ></div>
            <a href="#down"><img src="../../../public/img/down.png" width="20" class=""></a>
            <h3 class="mb-3 mt-2 yummy_title"> Liste des ingrédients</h3>
            <ul>
                {% for ingredient in ingredientsList %}
                   <li><a class="ingredients" href="/byIngredient/{{ ingredient.id }}" > {{ ingredient.ingredient_name }} </a> </li>
                {% endfor %}
            </ul>
            <h3 class="mb-3 yummy_title">Préparation</h3>
            <p>
                {{ recipe.instructions }}
            </p>
            <div id="down"></div>
            <a href="#up"><img src="../../../public/img/up.png" width="18"></a>
        </div>
        <div>
            <h3 class="mb-3 mt-5 yummy_title">Tag</h3>

            <span class="badge badge-pill badge-primary">#dessert</span>
            <span class="badge badge-pill badge-primary">#pommes</span>
            <span class="badge badge-pill badge-primary">#saison</span>
            <span class="badge badge-pill badge-primary">#recettemaison</span>
            <span class="badge badge-pill badge-primary">#yummy</span>
            <span class="badge badge-pill badge-primary">#Tarte</span>
            <span class="badge badge-pill badge-primary">#Primary</span>
            <span class="badge badge-pill badge-primary">#Primary</span>
            <span class="badge badge-pill badge-primary">#Primary</span>
        </div>

        <div>

        </div>
    </section>
    <div class=" offset-1 col-10 mt-4">
        <h1 class="yummy_title">Commentaires</h1>
    </div>
{% endblock %}